<div class="jumbotron jumbotron-fluid" style="background-image: url('./assets/evilburger.jpg'); color: white;">
  <div class="container">
    <h1 class="display-4" >Eat Da Burger</h1>
    <p class="lead" style="font-weight:bold;">Consume Burgers, mortal.</p>
  </div>
</div>

<div class="container">
<div class="row">
<h2 class="col-lg">The Burgers are taunting you!</h2>
</div>

  <div class="row">
<ul class="col-lg list-group">
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block}}
    {{/unless}}
  {{/each}}
</ul>
</div>

<div class="row" style="margin-top:10px;">
<h2 class="col-lg">RIP, you Burger idiots!</h2>
</div>

<div class="row">
<ul class="col-lg list-group">
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block}}
    {{/if}}
  {{/each}}
</ul>
</div>
</div>


<div class="container" style="margin-bottom:5%; margin-top:10px;">
  <div class="row">
    <div class="col-lg">
<h2 class="col-lg">Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="formGroupExampleInput burger">Burger Type:</label>
    <input type="text" class="form-control" id="burger" name="name">
  </div>
  <button type="submit">Add Burger</button>
</form>
</div></div>
</div>
