<li class="list-group-item">
	{{burger_name}}

	{{#unless devoured}}
	<button type="button" class="btn btn-danger change-type float-right" data-id="{{id}}" data-newType="{{devoured}}">Eliminate it!
	</button>
	{{/unless}}
</li>
